<section>
  <div class="flex flex-wrap pt-10 md:pt-0">
    <div class="w-full">
      <div class="w-full">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
            ><img
              src="images/img1.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image one"
          /></ng-template>
          <ng-template carouselSlide
            ><img
              src="images/img2.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image two"
          /></ng-template>
          <ng-template carouselSlide
            ><img
              src="images/img3.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image three"
          /></ng-template>
          <ng-template carouselSlide
            ><img
              src="images/img4.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image three"
          /></ng-template>
          <ng-template carouselSlide
            ><img
              src="images/img5.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image three"
          /></ng-template>
          <ng-template carouselSlide
            ><img
              src="images/slider1.avif"
              class="h-[100px] md:h-[400px] w-full object-cover"
              alt="home slider image three"
          /></ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
